---
import Publication from "../components/Publication.astro";
import Contact from "../components/Contact.astro";
import Award from "../components/Award.astro";
import Skill from "../components/Skill.astro";
import Section from "../components/Section.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";

const publications = [
  {
    authors:
      "S. Tan: Fast Higher-order Automatic Differentiation for Physical Models",
    journal: "Proceedings of the JuliaCon Conferences",
    year: 2023,
  },
  {
    authors:
      "S. Tan: Higher-Order Automatic Differentiation and Its Applications",
    journal: "Master's Thesis at MIT",
    year: 2023,
  },
  {
    authors: "S. Tan: Data-Driven Density Functional Models",
    journal: "Bachelor's Thesis at Peking University",
    year: 2021,
  },
  {
    authors: "I. Leven, H. Hao, S. Tan, ..., T. Head-Gordon",
    journal: "J. Chem. Theory Comput.",
    year: 2021,
    doi: "10.1021/acs.jctc.1c00118",
  },
  {
    authors: "S. Tan, I. Leven, ..., T. Head-Gordon",
    journal: "J. Chem. Theory Comput.",
    year: 2020,
    doi: "10.1021/acs.jctc.0c00514",
  },
];

const awards = [
  {
    title: "MathWorks Prize for Outstanding Masters Research",
    awarder: "MIT Center for Computational Science and Engineering",
    date: new Date("2023-03-02"),
  },
  {
    title: "Weiming Bachelor",
    awarder: "Peking University (top 1%)",
    date: new Date("2021-07-02"),
  },
  {
    title: "Academic Award",
    awarder:
      "College of Chemistry and Molecular Engineering, Peking University (top 2%)",
    date: new Date("2021-07-02"),
  },
  {
    title: "2020 Wusi Scholarship & Merit Student",
    awarder: "Peking University (top 1%)",
    date: new Date("2020-11-02"),
  },
  {
    title:
      "National Second Prize in Contemporary Undergraduate Mathematical Contest in Modeling",
    awarder: "China Society for Industrial and Applied Mathematics",
    date: new Date("2019-12-02"),
  },
  {
    title: "2019 National Scholarship & Merit Student",
    awarder: "Peking University (top 1%)",
    date: new Date("2019-11-02"),
  },
  {
    title: "Education Aboard Program Scholarhsip",
    awarder: "Peking University",
    date: new Date("2019-05-02"),
  },
  {
    title: "2018 National Scholarship & Merit Student",
    awarder: "Peking University (top 1%)",
    date: new Date("2018-11-02"),
  },
];

const skills = [
  {
    category: "Programming Languages",
    content: [
      "C/C++",
      "Julia",
      "Python",
      "Rust",
      "Fortran",
      "JavaScript/TypeScript",
    ],
  },
  {
    category: "High-Performance Computing",
    content: ["CUDA", "MPI & OpenMP", "compiler optimizations with LLVM"],
  },
  {
    category: "Scientific Computing & Machine Learning Software",
    content: ["PyTorch", "Flux.jl", "PySCF", "OpenMM", "LAMMPS"],
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 128 128'%3E%3Cpath d='M50.4 78.5a75.1 75.1 0 0 0-28.5 6.9l24.2-65.7c.7-2 1.9-3.2 3.4-3.2h29c1.5 0 2.7 1.2 3.4 3.2l24.2 65.7s-11.6-7-28.5-7L67 45.5c-.4-1.7-1.6-2.8-2.9-2.8-1.3 0-2.5 1.1-2.9 2.7L50.4 78.5Zm-1.1 28.2Zm-4.2-20.2c-2 6.6-.6 15.8 4.2 20.2a17.5 17.5 0 0 1 .2-.7 5.5 5.5 0 0 1 5.7-4.5c2.8.1 4.3 1.5 4.7 4.7.2 1.1.2 2.3.2 3.5v.4c0 2.7.7 5.2 2.2 7.4a13 13 0 0 0 5.7 4.9v-.3l-.2-.3c-1.8-5.6-.5-9.5 4.4-12.8l1.5-1a73 73 0 0 0 3.2-2.2 16 16 0 0 0 6.8-11.4c.3-2 .1-4-.6-6l-.8.6-1.6 1a37 37 0 0 1-22.4 2.7c-5-.7-9.7-2-13.2-6.2Z' /%3E%3Cstyle%3E path %7B fill: %23000; %7D @media (prefers-color-scheme: dark) %7B path %7B fill: %23FFF; %7D %7D %3C/style%3E%3C/svg%3E"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Songchen Tan</title>
  </head>
  <body>
    <header>
      <div id="name">Songchen Tan</div>
      <div id="contacts">
        <Contact
          title="i@tansongchen.com"
          href="mailto:i@tansongchen.com"
          icon="email"
        />
        <Contact
          title="+1 (857) 298-9702"
          href="tel:+1 (857) 298-9702"
          icon="phone"
        />
        <Contact
          title="tansongchen"
          href="https://github.com/tansongchen"
          icon="github"
        />
        <Contact
          title="songchentan"
          href="https://linkedin.com/in/songchentan"
          icon="linkedin"
        />
      </div>
    </header>
    <main>
      <Section title="Education">
        <Education
          title="Doctor of Science in Computational Science and Engineering (Mathematics track)"
          description="Massachusetts Institute of Technology"
          gpa="4.75 / 5.00"
          start={new Date("2023-09-02")}
          location="Cambridge, MA"
          coursework={[
            "Eigenvalue of Random Matrices (A)",
            "Nonlinear Dynamics and Chaos (A)",
            "Fast Methods for Partial Differential Equations (A)",
          ]}
        />
        <hr />
        <Education
          title="Master of Science in Computational Science and Engineering"
          description="Massachusetts Institute of Technology"
          gpa="5.00 / 5.00"
          start={new Date("2021-09-02")}
          end={new Date("2023-06-02")}
          location="Cambridge, MA"
          coursework={[
            "Parallel Computing & Scientific Machine Learning (A)",
            "Optimization Methods (A)",
            "Numerical Methods for Partial Differential Equations (A+)",
            "Introduction to Numerical Methods (A)",
          ]}
        />
        <hr />
        <Education
          title="Bachelor of Science in Chemistry & Bachelor of Science in Physics"
          description="Peking University"
          gpa="3.89 / 4.00, rank 1 / 137, honored as Weiming Bachelor (top 1%)"
          start={new Date("2017-09-01 04:00")}
          end={new Date("2021-07-01 04:00")}
          location="Beijing"
          coursework={[
            "Introduction to Computation (97)",
            "Data Structure and Algorithms (96)",
            "Computational Physics (92)",
            "Ordinary Differential Equations (92)",
            "Mathematical Method in Physics (95)",
            "Advanced Mathematics I & II (92 & 96)",
            "Advanced Algebra I & II (92 & 94)",
          ]}
        />
        <hr />
        <Education
          title="Exchange Student"
          description="University of California, Los Angeles"
          gpa="4.00 / 4.00"
          start={new Date("2019-09-17")}
          end={new Date("2019-12-13")}
          location="Los Angeles, CA"
          coursework={[
            "Introduction to Probability (A+)",
            "Applied Numerical Methods (A)",
          ]}
        />
      </Section>
      <Section title="Publication">
        {publications.map((x) => <Publication {...x} />)}
      </Section>
      <Section title="Professional Experience">
        <!-- <Experience
          title="Optimization Engineering Intern"
          description="Apple"
          supervisor="Qilin He (Exploratory Design Team)"
          start={new Date("2025-05-27 04:00")}
          end={new Date("2025-09-05 04:00")}
          location="Cupertino, CA"
        >
        </Experience> -->
        <Experience
          title="Deep Learning Compiler Engineering Intern"
          description="NVIDIA"
          supervisor="Yuan Lin (Deep Learning Compiler Team)"
          start={new Date("2022-05-01 04:00")}
          end={new Date("2022-08-01 04:00")}
          location="Santa Clara, CA"
        >
          <li>
            Investigated the heuristics of choosing kernels and compilation
            parameters during GEMM + epilogue fusion, and improved the optimal
            tactic hit by 70%
          </li>
          <li>
            Accelerated the layer fusion compilation by 40%, by a combination of
            caching, multi-threading and reducing trial compilations
          </li>
        </Experience>
      </Section>
      <Section title="Research Experience">
        <Experience
          title="Efficient Higher-order Automatic Differentiation for Differential Models"
          description="Massachusetts Institute of Technology"
          supervisor="Christopher Rackauckas & Alan Edelman"
          start={new Date("2022-09-01 04:00")}
          location="Cambridge, MA"
        >
          <li>
            Developing higher-order forward-mode automatic differentiation (AD)
            algorithms that scale linearly with the order, suitable for
            differential models like ODEs and PDEs
          </li>
          <li>
            Synthesizing code that is compiler-friendly and compatible with
            reverse-mode AD libraries like Zygote.jl, by aggressively
            specializing with compile-time type information
          </li>
          <li>
            Deriving higher-order differentiation rules automatically from
            first-order chain rules with symbolic computation and
            metaprogramming in Julia
          </li>
        </Experience>
        <hr />
        <Experience
          title="Low-level Automatic Differentiation for Linear Algebra Routines"
          description="Massachusetts Institute of Technology"
          supervisor="Christopher Rackauckas & Alan Edelman"
          start={new Date("2021-09-01 04:00")}
          end={new Date("2022-06-01 04:00")}
          location="Cambridge, MA"
        >
          <li>
            Joined the Enzyme project (enzyme.mit.edu), an automatic
            differentiation framework based on source code transformation at
            LLVM intermediate representation (IR) level, which can differentiate
            through all languages with a LLVM backend (e.g. Julia, C++, Fortran)
          </li>
          <li>
            Synthesized derivatives of BLAS/LAPACK kernels with generated
            kernels and calls to other BLAS/LAPACK kernels, and performed
            extensive optimizations based on linear algebra relations
          </li>
          <li>
            Outperformed other high-level AD frameworks in Julia with 1.3× speed
            on a linear algebra benchmark set
          </li>
        </Experience>
        <hr />
        <Experience
          title="Optimization Methods for Self-Consistent Field Functional Models"
          description="Peking University"
          supervisor="Weinan E & Linfeng Zhang"
          start={new Date("2020-12-01 04:00")}
          end={new Date("2021-06-01 04:00")}
          location="Beijing"
        >
          <li>
            Modeled the exchange-correlation density functional in generalized
            Kohn-Sham theory with deep neural networks and descriptors from
            density matrices
          </li>
          <li>
            Established a comprehensive theory for using physical quantities
            data that depends on the functional minimization result to train the
            functional model, in other words, addressed the “differentiate
            through argmin” problem
          </li>
          <li>
            Implemented the training process with multiple types of physical
            quantity data, such as energy band structure and dipole moment
          </li>
          <li>
            Improved the accuracy and generalization performance of the model,
            obtained an average energy error of 0.06 kcal/mol on a test set that
            includes 1200 water molecule configurations labeled with SCAN0
            functional (48% less than previous methods)
          </li>
        </Experience>
        <hr />
        <Experience
          title="Coarse-Grained Modeling of Force Fields with Noise Contrastive Learning"
          description="Massachusetts Institute of Technology"
          supervisor="Bin Zhang"
          start={new Date("2020-05-01 04:00")}
          end={new Date("2020-08-01 04:00")}
          location="Cambridge, MA (Remote)"
        >
          <li>
            Modeled the coarse-grained force fields of DNAs from configurations
            sampled from all-atom simulation trajectories
          </li>
          <li>
            Utilized noise contrastive learning for smooth and tractable
            training of force field parameters
          </li>
          <li>
            Constructed the “noise” distribution with normalizing flows in which
            probability distribution functions are computationally tractable and
            easy to sample, thereby provided a good baseline for the force
            fields
          </li>
          <li>
            Obtained an efficient and systematic coarse-graining workflow,
            outperforming traditional force-mapping scheme that is hard to train
          </li>
        </Experience>
        <hr />
        <Experience
          title="Extended Lagrangian Scheme for Simulating Reactive Chemical Systems"
          description="University of California, Berkeley"
          supervisor="Teresa Head-Gordon & Lin Lin"
          start={new Date("2019-12-01 04:00")}
          end={new Date("2020-04-01 04:00")}
          location="Berkeley, CA"
        >
          <li>
            Investigated reactive chemial systems with fluctuating charges
            described with differential-algebraic equations
          </li>
          <li>
            Developed an extended Lagrangian scheme to replace the algebraic
            part with differential dynamics of an extended system, thereby
            eliminating the expensive charge-equilibration step (i.e. algebraic
            equation solving) in simulation
          </li>
          <li>
            Proved the correctness of this scheme both theoretically and
            practically (the modified simulation still reproduced statistic and
            dynamic properties of that system)
          </li>
        </Experience>
      </Section>
      <Section title="Awards">
        {awards.map((x) => <Award {...x} />)}
      </Section>
      <Section title="Skills">
        {skills.map((x) => <Skill {...x} />)}
      </Section>
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: Lato, sans-serif;
    font-size: 16px;
    background-color: #ddd;
    box-sizing: border-box;
    --main-color: rgb(18, 64, 156);
  }

  body {
    background-color: #fff;
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 960px;
    box-shadow: 0px 0px 10px 10px #aaa;
  }

  @page {
    size: A4;
  }

  @media print {
    html {
      font-size: 10pt;
    }

    body {
      width: 210mm;
      box-shadow: none;
    }

    article {
      break-inside: avoid-page;
    }

    hr {
      break-before: avoid-page;
    }
  }

  hr {
    border-top: 0.05rem dashed grey;
    border-bottom: none;
    margin: 0.5rem;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1rem 1rem 0 0;
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }

  h1,
  #name {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
  }

  #name {
    font-weight: 500;
    text-align: center;
    font-size: xx-large;
    margin: 0.5rem;
  }

  #contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem 2rem;
  }

  a {
    color: var(--main-color);
    text-decoration: none;
  }

  article {
    margin: 0.5rem 0;
  }

  p {
    margin: 0.25rem 0;
  }

  ul {
    padding: 0 2rem;
    margin: 0.4rem 0;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem 0;
  }

  @media (max-width: 600px) {
    .line {
      flex-direction: column;
      align-items: flex-start;
    }

    .line .location {
      display: none;
    }

    body {
      padding: 5mm;
    }
  }

  .location {
    color: var(--main-color);
  }
</style>
