:root {
  --main-color: rgb(18, 64, 156);
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 600;
}

h1, #name {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

h1 {
  margin: 1rem 1rem 0 0;
  color: var(--main-color);
  border-bottom: 1.5px solid var(--main-color);
}

#name {
  font-weight: 500;
  text-align: center;
  font-size: x-large;
  margin: .5rem;
}

#contacts {
  display: flex;
  justify-content: center;
}

#contacts > span {
  margin: 0 1rem;
  font-size: small;
}

span svg, span a, span span {
  vertical-align: middle;
  display: inline-block;
  margin: 0 .25em;
}

#contacts a {
  color: var(--main-color);
  text-decoration: none;
}
