#root {
  font-family: Lato, sans-serif;
  background-color: #fff;
  padding: 10mm 10mm;
  box-sizing: border-box;
  margin: auto;
  width: 210mm;
  box-shadow: 0px 0px 10px 10px #aaa;
}

html {
  font-size: 10pt;
}

body {
  background-color: #ddd;
}

@page {
  size: A4;
}

@media print {
  #root {
    box-shadow: none;
  }

  article {
    break-inside: avoid-page;
  }

  hr {
    break-before: avoid-page;
  }
}
